<label for="preg" class="rem">Pregunta</label>
<input type="text" id="preg" name="quiz[pregunta]" placeholder="<%= quiz.pregunta %>"/><br/>
<label for="preg" class="rem">Respuesta</label>
<input type="text" id="resp" name="quiz[respuesta]" placeholder="<%= quiz.respuesta %>"/><br/>
<input type="submit" value="Guardar"/>