<label for="tipo" class="rem">Tipo</label>
<select id="tipo" name="quiz[tipo]"/>
  <option value="otro" <%if(quiz.tipo=='otro'){%>selected<%}%>>Otro</option>
  <option value="humanidades" <%if(quiz.tipo=='humanidades'){%>selected<%}%>>Humanidades</option>
  <option value="ocio" <%if(quiz.tipo=='ocio'){%>selected<%}%>>Ocio</option>
  <option value="ciencia" <%if(quiz.tipo=='ciencia'){%>selected<%}%>>Ciencia</option>
  <option value="tecnologia" <%if(quiz.tipo=='tecnologia'){%>selected<%}%>>Tecnología</option>
</select>
<br/>
<label for="preg" class="rem">Pregunta</label>
<input type="text" id="preg" name="quiz[pregunta]" value="<%= quiz.pregunta %>"/><br/>
<label for="preg" class="rem">Respuesta</label>
<input type="text" id="resp" name="quiz[respuesta]" value="<%= quiz.respuesta %>"/><br/>
<input type="submit" value="Guardar"/>