<label for="tipo" class="rem">Tipo</label>
<select id="tipo" name="quiz[tipo]"/>
  <option value="otro" >Otro</option>
  <option value="humanidades" >Humanidades</option>
  <option value="ocio" >Ocio</option>
  <option value="ciencia" >Ciencia</option>
  <option value="tecnologia" >Tecnología</option>
</select>
<br/>
<label for="preg" class="rem">Pregunta</label>
<input type="text" id="preg" name="quiz[pregunta]" value="<%= quiz.pregunta %>"/><br/>
<label for="preg" class="rem">Respuesta</label>
<input type="text" id="resp" name="quiz[respuesta]" value="<%= quiz.respuesta %>"/><br/>
<input type="submit" value="Guardar"/>